// Colors
$white: #fff;
$page: #cacccd; 
$light-grey: #E0E2E6;
$dark-grey: #333;
$grey: #666;
$light-blue: #4A5B7D;
$blue: #1c88bf;
$dark-blue: #364051;
$darker-blue: #0D2451;
$off-white: #f7f7f7;
$light-azure: #D9F7FA; 
$pale-green: #30CFB3;
$light-green: #28af96;
$red: #aa0202;
$light-red: #ce0202;
// Font Size
$font-size-large: 1.8rem;
$font-size-small: 1.4rem;
// Font Family
$bold-font: 'Barlow Bold';
// Spacing
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$desktop-breakpoint: 45rem;
